
:root {
  --primary-color: #233a7e;
  --secondary-color: #4cc9f0;
}
.first {
  background: var(--primary-color);
}
.tow {
  background: var(--secondary-color);
}
.first-color {
  color: var(--primary-color);
}
.tow-color {
  color: var(--secondary-color);
}


.text-me {
  color: #c4c4c4;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* fonts */
.f1 {
  font-size: 2rem;
}

.float {
  position: fixed;
  width: 42px;
  height: 45px;
  bottom: 40px;
  color: #fff;
  border-radius: 13px;
  text-align: center;
  font-size: 20px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float-whats {
  background-color: #25d366;
  right: 37px;
}
.float-phone {
  background-color: #232323;
  right: 84px;
}

/* animation */
.swing {
  transition: all 0.2s ease-in-out;
}
.swing:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
  color: white;
}
.ripple:active {
  background-color: #292d3e;
  background-size: 100%;
  transition: background 0s;
}

.shrink {
  transition: all 0.2s ease-in-out;
}
.shrink:hover {
  transform: scale(0.8);
}

.section-c .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.section-c .gallery a:first-child {
  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 1/3;
  grid-column: 1/3;
}

.section-c .gallery a:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.section-c .gallery img,
.section-c .gallery a {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}


.carousel-caption{
      position: absolute;
    left: 15%;
   bottom: 23.25rem;
    right: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}



