/* styels */
.first {
  /* background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */
/* background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%); */

/* background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
/* background-color: #738bdc;
background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%); */

/* background-color: #60dfcd;
background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%); */

/* background-color: #007ea7;
background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%); */

background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);







}
.tow {
background-color: #2f4353;
background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);

}
.three {
  background: #00a1d9;
}
.four {
  background: #03417a;
}
.five {
  background: #03417a;
}
.six {
  background: #003056;
}
.ali {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.a {
  background-color: #6b0f1a;
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}

.text-me{
  background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); 
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 7rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 5rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 23rem;
  font-size: 1.2rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 30rem;
  opacity: 0.7;
}
.carousel-caption {
  color: hsl(165, 3%, 27%);
}
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* fonts */
.f1 {
  font-size: 2rem;
}

.float {
  position: fixed;
  width: 42px;
  height: 45px;
  bottom: 40px;
  color: #fff;
  border-radius: 13px;
  text-align: center;
  font-size: 20px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float-whats {
  background-color: #25d366;
  right: 37px;
}
.float-phone {
  background-color: #232323;
  right: 84px;
}

/* animation */
.swing {
  transition: all 0.2s ease-in-out;
}
.swing:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
  color: white;
}
.ripple:active {
  background-color: #292d3e;
  background-size: 100%;
  transition: background 0s;
}

.shrink {
  transition: all 0.2s ease-in-out;
}
.shrink:hover {
  transform: scale(0.8);
}

.section-c .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.section-c .gallery a:first-child {
  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 1/3;
  grid-column: 1/3;
}

.section-c .gallery a:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.section-c .gallery img,
.section-c .gallery a {
  width: 100%;
  height: 100%;
}
